#pictograma
{
	margin: 5%;
}




.Fboton
{
	margin: 1%;
	text-align: center;
}

#firstyear
{
	
	width: 20%;
	height: 2rem;
	font-weight: bold;
	font-size: 20px;

}

.Sboton
{
	margin: 1%;
	text-align: center;
}

#secondyear
{
	
	width: 20%;
	height: 2rem;
	font-weight: bold;
	font-size: 20px;
	
}


#generalmes
{
	padding: 1rem;
}


	
