
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
                
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }



            .contenedor
            {
            font-size: 15px;
            line-height: 20px;
            padding: 0 20px;
            text-align: justify;

            }




            .left {

                margin: left 2em;
                float: left;
                width: 30%;
                background: black;
                color: white;
                margin-left: 2em;
                border: thick solid red;
            }

            .center {
                float: left;
                width: 30%;
                background: black;
                color: white
                border: thick solid red;
            }


            .right {
                float: right;
                width: 30%;
                background: black;
                color: white
                border: thick solid red;
            }